<launch>
  <param name="use_sim_time" value="true" />
  <node pkg="rosbag" type="play" name="rosbag" required="true" args="--clock /home/mummel/Desktop/loc_paper_bag_files_video/infinity/2020-02-29-00-40-26.bag"/>

  <!-- test
  <node name="republish" type="republish" pkg="image_transport" output="screen" args="compressed in:/raspicam_node/image raw out:=raspicam_node/image" />-->

  <node name="extract" pkg="image_view" type="extract_images" respawn="false" required="true" output="screen" cwd="ROS_HOME">
    <remap from="image" to="/raspicam_node/image"/>
  </node>
</launch>

    <!-- name hier ändern in topic
        mv ~/.ros/frame*.jpg ~/TMP/
        ffmpeg -framerate 30 -i frame%04d.jpg -c:v libx264 -profile:v high -crf 20 -pix_fmt yuv420p output.mp4
    -->

