<launch>
  <param name="use_sim_time" value="true" />
  <node pkg="rosbag" type="play" name="rosbag" required="true" args="--clock /home/tim/Documents/loc_paper_bag_files_video/ground_truth/outer.bag /home/tim/Documents/loc_paper_bag_files_video/ground_truth/inner.bag"/>

  <node name="extract" pkg="image_view" type="extract_images" respawn="false" required="true" output="screen" cwd="ROS_HOME">
    <remap from="image" to="/raspicam_node/image"/>
    <param name="sec_per_frame" value="0.03"/>
  </node>
</launch>

    <!-- name hier ändern in topic
    sec_per_frame = 1/framerate frequency(minus a bit )
    rosrun image_transport republish compressed in:=/raspicam_node/image raw out:=/raspicam_node/image
        mv ~/.ros/frame*.jpg ~/TMP/gantry_video
        ffmpeg -framerate 28.5 -i frame%04d.jpg -c:v libx264 -profile:v high -crf 20 -pix_fmt yuv420p output.mp4
    -->

