<launch>
    <arg name="launch_prefix" default=""/>
        <!--tmp -->
        <node pkg="rosbag" type="record" name="rosbag_record_diag"
            args="record -o $(find utilities_localisation)/scripts/rosbag_experiments/recording_experiment  /gantry/current_position " <!-- tmp /raspicam_node/image/compressed /camera_top/image_raw/compressed-->
    />
</launch>