<launch>
    <machine name="mum-ThinkPad-L580" address="192.168.0.191" env-loader="/opt/ros/melodic/env.sh" user="mum"/>


   <node machine="mum-ThinkPad-L580" name="localization_cam" pkg="usb_cam" type="usb_cam_node" output="screen" >
        <param name="video_device" value="/dev/video0" />
        <param name="image_width" value="640" />
        <param name="image_height" value="480" />
        <param name="framerate" value="30" />
        <param name="pixel_format" value="yuyv" />
        <param name="camera_frame_id" value="localization_cam" />
        <param name="io_method" value="mmap"/>
    </node>

</launch>