<launch>
    <machine name="meas-pi" address="169.254.155.26" env-loader="~/catkin_ws/devel/setup.bash" user="pi" password="raspberry"/>


   <node machine="meas-pi" name="meas_cam" pkg="usb_cam" type="usb_cam_node" output="screen" >
        <param name="video_device" value="/dev/video0" />
        <param name="image_width" value="640" />
        <param name="image_height" value="480" />
        <param name="framerate" value="30" />
        <param name="pixel_format" value="yuyv" />
        <param name="camera_frame_id" value="meas_cam" />
        <param name="io_method" value="mmap"/>
    </node>

</launch>